* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
	color: var(--primaryText);
}

html,
body {
	margin: 0;
}

::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	height: 10px; /* height of horizontal scrollbar ← You're missing this */
	width: 7px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	border: none;
}
::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0);
}

:root {
	/* https://github.com/chazzox/Hydrova/blob/master/src/utils/themes.ts (I wrote this) */
	--primaryBackground: rgb(32, 34, 37);
	--secondaryBackground: rgb(20, 20, 26);
	--tertiaryBackground: rgb(39, 41, 44);
	--primaryAccentBackground: rgb(88, 94, 254);
	--secondaryAccentBackground: rgb(52, 58, 64);
	--tertiaryAccentBackground: rgb(46, 50, 94);
	--primaryText: rgb(255, 255, 255);
	--secondaryText: rgba(255, 255, 255, 0.66);
	--tertiaryText: rgba(255, 255, 255, 0.4);
	--buttonTextColor: rgb(255, 255, 255);
	--borderColor: rgb(59, 59, 59);
	--warningColor: #dc3454;
	/* https://getcssscan.com/css-box-shadow-examples yeah box shadows are to hard to get right */
	--boxShadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body {
	background: var(--primaryBackground);
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.main-content > p {
	padding: 5px 20px;
}
.main-content > h1 {
	margin: 10px;
	font-size: 25px;
}

.spacer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.button {
	text-decoration: none;
	background: none;
	border: 1px solid var(--borderColor);
	transition: background-color 0.2s;
	padding: 10px;
	border-radius: 8px;
	font-weight: bold;
	margin: 5px;
	font-size: 15px;
}

.button:hover {
	background-color: var(--primaryAccentBackground);
}

input[type='number'] {
	padding: 4px 8px;
	background: var(--secondaryAccentBackground);
	border: none;
	border-radius: 8px;
	font-weight: 500;
	font-size: large;
	width: 60px;
}

input[type='number']:focus,
input[type='text']:focus {
	outline: none;
	background-color: var(--primaryAccentBackground);
}

select,
input[type='text'] {
	padding: 8px;
	background: var(--secondaryAccentBackground);
	border: none;
	border-radius: 8px;
}

select {
	-webkit-appearance: none;
}

select:focus,
input[type='color'] {
	outline: none;
}

.buggy-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.buggy-form > .buggy-form-data {
	width: 350px;
	margin: 15px;
	background-color: var(--secondaryBackground);
	padding: 8px;
	border-radius: 8px;
	transition: box-shadow 0.2s;
}
.buggy-form > .buggy-form-data:hover {
	box-shadow: var(--boxShadow);
}

input[type='color'] {
	background-color: var(--secondaryBackground);
	border: none;
	width: 50px;
	height: 50px;
}

.warning {
	background-color: var(--warningColor);
	padding: 10px;
	border-radius: 30px;
}

table {
	background-color: var(--secondaryBackground);
	border-spacing: 0;
	border-collapse: collapse;
}

table td {
	padding: 6px;
	border: 1px solid white;
}

table form {
	margin: 0;
}

table tr td,
table form input[type='submit'] {
	font-size: 15px;
}

table form input[type='submit'] {
	padding: 0;
	background: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
}

table {
	margin: 15px;
	box-shadow: var(--boxShadow);
}

#buggyContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

nav {
	background-color: var(--secondaryBackground);
	padding: 15px;
}

nav > a {
	margin: 5px;
}
