<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href="/static/app.css?{{ range(1, 9999) | random }}" rel="stylesheet" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" type="image/jpg" href="./static/tapir.ico" />
		<title>Buggy editor</title>
	</head>
	<body>
		<div class="main-content">{% block content %}{% endblock %}</div>
	</body>
</html>
