{% extends "base.jinja" %} {% block content %}

<h1>Buggy</h1>
<div id="buggyContainer">
	{% for buggy in buggies%}
	<table>
		{% for key, value in dict(buggy).items() %}
		<tr>
			<td>{{key}}:</td>
			<td>{{value}}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="2"><a href="/edit/{{buggy['id']}}">Edit This Buggy</a></td>
		</tr>
		<tr>
			<td colspan="2">
				<form action="/delete/{{buggy['id']}}" method="post">
					<input type="submit" value="Delete This Buggy" />
				</form>
			</td>
		</tr>
	</table>
	{% endfor %}
</div>
<a href="/" class="button">home</a>

{% endblock %}
