{% extends "base.jinja" %}{% block content %}
<style>
	#cs1999-tasks {
		margin-top: 4em;
	}
	#cs1999-tasks .task {
		margin: 1em;
		padding: 1em;
	}
	#cs1999-tasks .task h2 {
	}
</style>
<section>
	<h1>What is good about my editor?</h1>
	<div class="editorFlex">
		<h2>it is good</h2>
		<p>additional info about why it is good</p>
	</div>
</section>
<section id="cs1999-tasks">
	<div class="task">
		<h2>0-GET Get the source code</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>0-RUN Get app running and view it in a browser</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>0-CHANGE Make a change to a template and see it appear</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>1-ADD Add more data to the form</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>1-VALID Add basic data validation</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>1-STYLE Style your editor just how you like it</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>2-EDIT Edit the record by loading its current values into the form</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>2-FORM Make the form better</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>2-COST Calculate and save the game cost of the buggy</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>2-RULES Add validation according to the game rules</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>3-ENV Switch between dev and production environments</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>3-AUTOFILL Add auto-fill to the edit forms</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>3-MULTI Allow different buggies to be created</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>3-DEL Allow buggies to be deleted</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>3-FLAG Display the pennant graphically</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>3-TESTS Write some tests</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>4-USERS Add users (and sessions) so you know who is editing a buggy</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>4-REGISTER Make a new user</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>4-OWNER A buggy belongs to a user</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>4-PASS Add password protection to the users</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>5-VIZ Visual representation of the buggy</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>5-RESET Password reset</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>5-RACELOG Store a history of race results for the buggies in your app</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>5-ADMIN Add admin capabilities to superusers</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>5-API Use the server API for submitting the buggy data</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
	<div class="task">
		<h2>6-FREE Add custom features to the editor</h2>
		<p>
			<!-- sentence on _how_ you fixed it -->
		</p>
		<p>
			<!-- sentence(s) on anything interesting/incomplete you did -->
		</p>
	</div>
</section>
{% endblock %}
